body{
	
}
.header {
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	color: #FFF;
	background-image:url(../img/pantone.gif);
	background-size:100% 100%;
	background-repeat:repeat-x;
	height:15%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}

.contenido{
	/* background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(238, 238, 238))); */
	height:85%;
}

.botonera{
	float: left;
}

.mapa{
	height: 20%;
}
	
}