body{
	height: 100%;
	width: 100%;
}
.header{
	
	/*color: #FFF;*/
	/*display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;*/
}

.contenido{
	/* background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(238, 238, 238))); */
	height:80%;
}


.botonera{
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-webkit-border-radius: 0 0 6px 6px;
	padding-top: 10px;
	height:auto;
}
.boton{
	float: left;
	width: 33%;
	text-align: center;
	height:auto;
}

.boton img{
    width:20%; /* you can use % */
    height: auto;
}

#map_canvas{
	margin-top:50px;
	width: 100% !important;
	height: 700px !important;
	display:block;
	overflow:hidden;
}

.title{
	background: #eee;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #CCC;
	padding-left: 10px;
	padding-right: 0;
}