body{
	
}
.header{
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	/*color: #FFF;*/
	/*display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;*/
}

.contenido{
	/* background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(238, 238, 238))); */
	height:85%;
}

.botonera{
	margin-top: 30px;
	float: left;
	height: 200px;
	margin-bottom: 30px;
}

.mapa{
	margin-left: 3%;
	width: 94%;
	height: 60%;
}

.boton{
	float: left;
	width: 33%;
	text-align: center;
}